body {
    margin: 0;
    padding: 0;
}

.signup {
    height: 400px;
    width: 500px;
    background-color: lightblue;
    border: 2px solid black;
    margin: 25px 25px 0px 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 15px;
    border-radius: 10px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

.data input {
    background-color: azure;
    border-radius: 5px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bu button {
    background-color: blue;
    border-radius: 5px;
}

.outer {
    position: relative;
    background-color: black;
    height: 500px;
    width: 500px;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    bottom: 0;
}

.header-container {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.head-container {
    display: flex;
    align-items: center;
}

.head-items {
    display: flex;
    gap: 25px;
}

.head-items li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.logo-image {
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assests/image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: contain;
    backdrop-filter: blur(10px);
    height: 100vh;
}

.signin {
    height: 300px;
    width: 400px;
    background-color: lightblue;
    border: 2px solid black;
    margin: 50px 25px 0px 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 10px;
}

.signup-link {
    color: red;
}

img {
    height: 400px;
    width: 400px;
    object-fit: contain;
}

#home {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#home img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
}

#home p {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}


#home img {
    flex-direction: column;
}

#home p {
    flex-direction: row;
}



#about {
    margin-top: 50px;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 50px;
}

.footer-container {
    background-color: beige;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.head-items a {
    text-decoration: none;
    color: blue;
    letter-spacing: 0.3rem;
}

.head-items a:hover {
    letter-spacing: 0;
    color: black;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 400px;
    width: 400px;
    background-image: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGVhcm5pbmd8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
}

.image:hover {
    transform: scale(1.1);
    background-image: url('https://img.etimg.com/thumb/msid-124595817,width-630,resizemode-4,imgsize-158021/wipro-q2-results-live-q2-fy26-revenue-earning-net-profit-loss-bonus-shares-date-time-16-oct-2025.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.home-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.v {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.button-con {
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.main-text{
    animation:none;
}

.main-text:hover{
    animation: rota linear infinite 1s;
}
@keyframes rota {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#home{
    margin-top:75px;
}

.button-con:hover{
    background-color: darkblue;
}